# Environments
.env
.env.*
!.env.example

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
venv/
env/
.venv/
.env/

# Mac / Windows
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Application Specific
backend/uploaded_cases/
